html {
    background-color: #f4f4f4;
}



.privacypolicy {
    background-color: white;
    padding-right: auto;
    padding-left: auto;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.privacypolicy h1 {
    text-align: center;
}

.privacypolicy table, tr, th, td {
    border: solid 1px #000000;
    border-collapse: collapse;
}
.privacypolicy ol {
    text-align: left;
}
